.text-center {
	text-align: center;
}

.p-big {
	font-size: 20px;
}
body{
	font-family: 'Ubuntu', sans-serif;
	background: none;
	padding-bottom: 60px;
	padding-top: 40px;
}

.bigger-picture {
	width: 100%;
	height: 100%;
}

.smaller-picture {
	width: 80%;
	height: 80%;
}

.transparent {
	background-color: rgba(191, 191, 191, .7);
}

.full-transparent {
	background-color: rgba(191, 191, 191, 0);
}

.color-white {
	color: white;
}

.table-center {
	margin-left: auto;
    margin-right: auto;
    width: 70%;
}
p {
	text-indent: 30px;
	
}

.header{

	background: url('background1.jpg') no-repeat center center fixed;
	height: 500px;
	background-size:	cover;
}

.header2{
	padding-top: 20px;
	padding-bottom: 20px;
	background: url('background1.jpg') no-repeat center center fixed;
	background-size:	cover;
}


.hr-normal {
	display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.footer {
	width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
	background:#ee5;
}

.vertical-center {
	position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.header-text {
	font-size: 70px;
}

.img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-announce {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}
.form-announce .form-announce-heading,
.form-announce .checkbox {
  margin-bottom: 10px;
}
.form-announce .checkbox {
  font-weight: normal;
}
.form-announce .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-announce .form-control:focus {
  z-index: 2;
}
.form-announce input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-announce input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.text-area-size {
	width: 500px;
	height: 300px;
}
#directory-header {
	height: 200px;
	background-color: tan;
}

.color-red {
	color: red;
}

.color-blue {
	color: blue;
}

.responsive-iframe-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
border-radius: 10px;
border-style: groove;
}

.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

#mapDiv {
height:		500px;


}

#map{

height:  90%;
width:  90%;
}