.text-center {
	text-align: center;
}


body{
	font-family: 'Ubuntu', sans-serif;
	background: none;
	padding-bottom: 30px;
	padding-top: 40px;
}


.transparent {
	background-color: rgba(191, 191, 191, .7);
}

.full-transparent {
	background-color: rgba(191, 191, 191, 0);
}

.color-white {
	color: white;
}


p {
	text-indent: 30px;
	
}

.header{

	background: url('background1.jpg') no-repeat center center fixed;
	height: 500px;
	background-size:	cover;
}


.hr-normal {
	display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.footer {
	width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
	background:#ee5;
}

.vertical-center {
	position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.header-text {
	font-size: 70px;
}

.img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}